<div class="dialog-header">
  <h3>Legal Notice</h3>
  <button class="close-button" mat-icon-button tabindex="-1" (click)="closeDialog()">
    <em class="Bosch-Ic Bosch-Ic-abort"></em>
  </button>
</div>
<article class="doc">
  <h4>Copyright (©)</h4>
  <p>
    All the content of this website (especially text, images, graphics, sound, animations and videos) and the positioning thereof in Bosch
    websites is subject to copyright protection and to other protection laws. Without the consent of the respective rights owner, the
    content of these websites may not be copied, disseminated, modified or made accessible to third parties for commercial purposes.
  </p>
  <h4>Brands</h4>
  <p>Unless otherwise indicated, the brands used on our sites are the intellectual property of Robert Bosch GmbH, Germany.</p>
  <h4>No license</h4>
  <p>
    No license to use the intellectual property (in particular the patents, marks and copyrights) of companies in the Bosch Group (Bosch) or
    of third parties is granted by way of this website.
  </p>
  <h4>Information on Online Dispute Resolution</h4>
  <p>
    The European Commission has set up a platform for Online Dispute Resolution (ODR). This platform is intended to serve as a point of
    contact for the out-of-court resolution of disputes relating to contractual obligations under online sales contracts and online service
    contracts.
  </p>
  <p>The platform is provided at <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr/</a> .</p>
  <p>Robert Bosch GmbH does not participate in dispute resolution proceedings before consumer arbitration bodies.</p>
</article>
