:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.elements {
  display: grid;
}

.namespaces-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 5px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    color: white;
    font-size: 26px;
    height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 250px;

    .name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 3px;
    }
  }
}

.namespaces-button {
  transform: scale(2);
  color: black;
  padding-bottom: 35px;
  height: 0px;
}
