<div class="dialog-header">
  <h3>Corporate Information</h3>
  <button class="close-button" mat-icon-button tabindex="-1" (click)="closeDialog()">
    <em class="Bosch-Ic Bosch-Ic-abort"></em>
  </button>
</div>
<div class="corporate-information">
  <table>
    <caption></caption>
    <tr>
      <th id="key"></th>
      <th id="value"></th>
    </tr>
    <tr>
      <td>Name and address</td>
      <td>
        Robert Bosch Manufacturing Solutions GmbH<br />
        Wernerstraße 51<br />
        70469 Stuttgart<br />
        GERMANY
      </td>
    </tr>
    <tr>
      <td>Contact</td>
      <td>
        Nexeed Helpdesk <br />
        <a href="mailto:Nexeed.Helpdesk@de.bosch.com">Nexeed.Helpdesk@de.bosch.com</a>
      </td>
    </tr>
    <tr>
      <td>Board of management</td>
      <td>Günter Krenz, Dierk Göckel, Sven Hamann, Johannes Ardenne</td>
    </tr>
    <tr>
      <td>Registration Court</td>
      <td>District court Stuttgart HRB 757070</td>
    </tr>
    <tr>
      <td>VAT identification number</td>
      <td>DE306681183</td>
    </tr>
  </table>
</div>
