# See http://help.github.com/ignore-files/ for more about ignoring files.
# Web Core defaults
/documentation
/test-results
/e2e/**/e2e-results*
*.tgz# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/apps/bame-e2e/.nyc_output
/apps/bame-e2e/coverage
/apps/bame-e2e/cypress

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.angular
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#maven
/target
/node

*.iml

# electron
/out
/.cache
/electron
print.html
lsp

# cypress
/.nyc_output
/cypress/videos
/cypress/screenshots
/cypress/reports

# disclosure document
src/assets/footer-doc

#jest
jest-coverage
junit.xml
