.container {
  display: flex;
  align-items: center;
  cursor: grab;
  padding: 10px 0;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    color: white;
    font-size: 30px;
    height: 55px;
    width: 55px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 250px;

    .name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 3px;
    }

    .description {
      font-size: 12px;
    }
  }
}

.shadowElementRectangle {
  border: dashed black 1px;
  width: 300px;
  height: 120px;
}

.shadowElementEllipse {
  border: dashed black 1px;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.trait {
  border-radius: 50%;
  margin: 0 auto !important;
}

.element-imported {
  opacity: 50%;
}
