$path-to-assets: '~@bci-web-core/common-styles';

@import '~@bci-web-core/material-theme/sass/theme';
@import '~@bci-web-core/common-styles/sass/bci-styles';
/* You can add global styles to this file, and also import other style files */

@import './assets/styles/imprint.scss';
@import '~ngx-toastr/toastr';

.btn-icon {
  width: 0;
}

.btn-icon img {
  width: 86%;
}

.mat-error {
  color: $state-danger-text;
  font-size: 12px;
}

.Bosch-Ic:before {
  cursor: pointer !important;
}

.mat-optgroup-label {
  font-weight: bold !important;
  font-size: 17px !important;
  color: rgb(34, 34, 34) !important;
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.mat-optgroup .mat-option-text {
  padding-left: 20px !important;
}

.option-description {
  font-size: x-small;
}

.mat-dialog-content {
  max-height: 56vh !important;
}

mat-form-field {
  width: 100%;
}

body {
  overflow: hidden;
}

.container-content {
  overflow: hidden !important;
}

.content {
  overflow: hidden !important;
}

body > div.cdk-overlay-container > div.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: center;
}

.loader-backdrop {
  position: fixed !important;
}

.top-space {
  padding-top: 25px;
}

textarea {
  border: none !important;
  margin-top: 2rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  border-bottom: 1px solid #bfc0c2 !important;
}

.mat-header-cell {
  white-space: nowrap !important;
}

mat-cell > mat-icon {
  margin-top: 15px;
}

mat-dialog-content {
  overflow: hidden !important;
}

.footer-modal {
  mat-dialog-container {
    overflow: hidden !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.characteristic {
  background-color: $boschDarkBlue;
}

.constraint {
  background-color: $boschTurquoise;
}

.entity,
.entityValue {
  background-color: #007bc7;
}

.unit {
  background-color: $boschLightGreen;
}

.property {
  background-color: $boschViolet;
}

.operation {
  background-color: $boschDarkGreen;
}

.aspect {
  background-color: $boschFuchsia;
}

.trait {
  background-color: $boschDarkBlue;
}

.event {
  background-color: #bd8311;
}

.mxTooltip {
  max-width: 300px !important;
  width: fit-content !important;
  display: inline-block !important;
}

// Tooltip that is displayed when hovering over collapsed cells
.cell-tooltip {
  font-size: 13px;
  max-width: 300px;
  table,
  td,
  th {
    border: solid 2px #ccc;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    margin: 0 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: 3px;
    vertical-align: top;
    text-align: left;
    max-width: 140px;
  }
  td:nth-child(odd) {
    background: #f7f7f7;
  }
}

.cell-label {
  display: flex;
  flex-direction: column;
  align-items: center;

  .element-name {
    align-self: center;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .element-info {
    display: block;
    align-self: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    width: 100%;
    padding: 10px 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow-x: hidden;

    &:nth-child(2) {
      margin-top: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.75);
    }
  }
}

.edge-label {
  height: 15px;
  border-radius: 3px;
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
  color: white;
  transform: translate(0, -4px);
}
