name: Check New Pull Request

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]
    paths-ignore:
      - 'documentation/decisions/**'

# Tests are done in Ubuntu because Mac and Windows random failures, and it is not stable.
jobs:
  build:
    name: Check if passes all requirements
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v5

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install chrome browser
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Setup NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Clear npm cache
        run: npm cache clean --force

      - name: Install node modules (Dev)
        run: |
          npm ci --include=optional
          npm rebuild nx --update-binary
          npx cypress install
        working-directory: core

      - name: Identifying and reporting lint patterns
        run: npm run lint
        working-directory: core

      - name: Performing jest tests
        run: npm run test
        working-directory: core

      - name: Performing cypress tests
        run: npm run cypress:ci
        working-directory: core

      - name: Build dev package
        run: npm run build
        working-directory: core
