name: "Create Tagged Release"

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version number of the release'
        required: true

env:
  RELEASE_VERSION: ${{ github.event.inputs.release_version }}
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions: {}

jobs:
  build:
    name: Create tagged release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-15-intel, windows-latest, ubuntu-latest ]
    permissions:
      contents: write
      actions: read
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Cache node modules
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Setup NodeJs
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Set versions
        if: matrix.os == 'ubuntu-latest'
        run: |
          release_branch_name=${RELEASE_VERSION%.*}.x
          echo "release_branch_name=$release_branch_name" >> $GITHUB_ENV

      - name: Get glibc version
        if: matrix.os == 'ubuntu-latest'
        run: |
          version=$(ldd --version | head -n 1 | awk '{print $NF}')
          echo "GLIBC_VERSION=$version" >> $GITHUB_ENV
          echo "::set-output name=glibc_version::$version"

      - name: Set antora version
        if: matrix.os == 'ubuntu-latest'
        run: yq eval -i '.version = "${env.RELEASE_VERSION}"' documentation/ame-guide/antora.yml

      - name: Commit version changes and push to upstream repository
        if: matrix.os == 'ubuntu-latest'
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git checkout -b ${{ env.release_branch_name }}
          git add documentation/ame-guide/antora.yml
          git commit -m "Set version to ${env.RELEASE_VERSION}"
          git push origin ${{ env.release_branch_name }}
          git tag v${env.RELEASE_VERSION}
          git push origin v${env.RELEASE_VERSION}

      - name: Download aspect model service into project (Mac)
        if: matrix.os == 'macos-15-intel'
        run: |
          mkdir backend

          ASSET_ONE_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq '.assets[0].browser_download_url')
          ASSET_TWO_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq '.assets[1].browser_download_url')
          ASSET_THREE_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq '.assets[2].browser_download_url')

          if [[ ${ASSET_ONE_URL} == *"-mac"* ]];
            then
              echo $ASSET_ONE_URL
              DOWNLOAD_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq -r '.assets[0].browser_download_url')
          fi

          if [[ ${ASSET_TWO_URL} == *"-mac"* ]];
            then
              echo $ASSET_TWO_URL
              DOWNLOAD_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq -r '.assets[1].browser_download_url')
          fi

          if [[ ${ASSET_THREE_URL} == *"-mac"* ]];
            then
              echo ASSET_THREE_URL
              DOWNLOAD_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq -r '.assets[2].browser_download_url')
          fi

          curl -L -H "Authorization: token $GH_TOKEN" -H "Accept: application/octet-stream" $DOWNLOAD_URL > backend/ame-backend-${RELEASE_VERSION}-mac.zip
          unzip backend/ame-backend-${RELEASE_VERSION}-mac.zip -d backend/
          rm backend/ame-backend-${RELEASE_VERSION}-mac.zip
          chmod 755 backend/ame-backend-${RELEASE_VERSION}-mac
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download aspect model service into project (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          mkdir backend

          ASSET_ONE_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq '.assets[0].browser_download_url')
          ASSET_TWO_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq '.assets[1].browser_download_url')
          ASSET_THREE_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq '.assets[2].browser_download_url')

          if [[ ${ASSET_ONE_URL} == *"-linux"* ]];
            then
              echo $ASSET_ONE_URL
              DOWNLOAD_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq -r '.assets[0].url')
          fi

          if [[ ${ASSET_TWO_URL} == *"-linux"* ]];
            then
              echo $ASSET_TWO_URL
              DOWNLOAD_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq -r '.assets[1].url')
          fi

          if [[ ${ASSET_THREE_URL} == *"-linux"* ]];
            then
              echo ASSET_THREE_URL
              DOWNLOAD_URL=$(curl -sl --header "Authorization: token $GH_TOKEN" https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${RELEASE_VERSION} | jq -r '.assets[2].url')
          fi

          curl -L -H "Authorization: token $GH_TOKEN" -H "Accept: application/octet-stream" $DOWNLOAD_URL > backend/ame-backend-${RELEASE_VERSION}-linux
          chmod 755 backend/ame-backend-${RELEASE_VERSION}-linux
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download aspect model service into project (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          mkdir backend

          $RESPONSE=$(curl.exe -sl --header "Authorization: token $GH_TOKEN" "https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor-backend/releases/tags/v${{ env.RELEASE_VERSION }}")
          $RESPONSE_JSON=($RESPONSE | ConvertFrom-Json)

          $url = $null
          foreach ($asset in $RESPONSE_JSON.assets) {
            if ($asset.browser_download_url -match "-win.zip") {
              $url = $asset.browser_download_url
              break
            }
          }

          if ($url -ne $null) {
            echo "Downloading: $url"
            curl.exe -sL -H "Authorization: token $GH_TOKEN" -H "Accept: application/octet-stream" $url -o backend/ame-backend.zip

            # Unzip the file into the backend directory
            Expand-Archive -Path backend/ame-backend.zip -DestinationPath backend

            # Remove the zip file
            Remove-Item -Path backend/ame-backend.zip
          } else {
            Write-Error "No zip file found."
          }
        shell: pwsh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Clear npm cache
        run: npm cache clean --force

      - name: Install node modules
        run: |
          npm ci --include=optional
          npm rebuild nx --update-binary
        working-directory: core

      - name: Set app version (Unix)
        if: matrix.os == 'macos-15-intel' || matrix.os == 'ubuntu-latest'
        run: npm version ${{ env.RELEASE_VERSION }}
        working-directory: core

      - name: Set app version (Windows)
        if: matrix.os == 'windows-latest'
        run: npm version ${{ env.RELEASE_VERSION }}
        working-directory: core

      - name: Build electron app (Mac)
        if: matrix.os == 'macos-15-intel'
        run: npm run build:mac:prod
        working-directory: core

      - name: Build electron app (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          npm run build:linux:prod
          mv electron/aspect-model-editor-v${env.RELEASE_VERSION}-linux.tar.gz electron/aspect-model-editor-v${env.RELEASE_VERSION}-linux-glibc-v${{ env.GLIBC_VERSION }}.tar.gz
        working-directory: core

      - name: Build electron app (Windows)
        if: matrix.os == 'windows-latest'
        run: npm run build:win:prod
        working-directory: core

      - name: Install NSIS on Windows
        if: matrix.os == 'windows-latest'
        run: choco install nsis -y

      - name: Create Windows installer
        if: matrix.os == 'windows-latest'
        uses: joncloud/makensis-action@971ef20f43e4f9f3af2c7f276cb7348d033da1cd # v5.0
        with:
          script-file: win-installer/installer.nsi
          arguments: "-V3 -DVERSION=${{ env.RELEASE_VERSION }}"

      - name: Upload binary (Windows)
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: aspect-model-editor-v${{ env.RELEASE_VERSION }}-win
          path: win-installer/aspect-model-editor-v${{ env.RELEASE_VERSION }}-win.exe

      - name: Upload binary (Mac)
        if: matrix.os == 'macos-15-intel'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f #v6.0.0
        with:
          name: aspect-model-editor-v${{ env.RELEASE_VERSION }}-mac
          path: core/electron/aspect-model-editor-v${{ env.RELEASE_VERSION }}-mac.zip

      # Release Linux executables
      - name: Create GitHub release (Linux)
        if: ${{ (matrix.os == 'ubuntu-latest') && (!contains( github.ref, '-rc' )) }}
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          overwrite: true
          prerelease: false
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: core/electron/aspect-model-editor-v${{ env.RELEASE_VERSION }}-linux-glibc-v${{ env.GLIBC_VERSION }}.tar.gz
          tag: v${{ env.RELEASE_VERSION }}

      - name: Create GitHub pre-release (Linux)
        if: ${{ (matrix.os == 'ubuntu-latest') && (contains( github.ref, '-rc' )) }}
        uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # v2.11.3
        with:
          overwrite: true
          prerelease: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: core/electron/aspect-model-editor-v${{ env.RELEASE_VERSION }}-linux-glibc-v${{ env.GLIBC_VERSION }}.tar.gz
          tag: v${{ env.RELEASE_VERSION }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      # Sign (Windows & Mac) executable
      - name: Get Artifact ID (Windows & Mac)
        shell: bash
        run: |
          # Get the list of artifacts for the specified workflow run
          response=$(curl -H "Authorization: Bearer $TOKEN" -H "Accept: application/vnd.github+json" "https://api.github.com/repos/${{ github.repository_owner }}/$(echo '${{ github.repository }}' | cut -d'/' -f2)/actions/runs/${{ github.run_id }}/artifacts")

          # Filter out the ID of the artifacts
          artifact_id_win=$(echo "$response" | jq -r '.artifacts[] | select(.name | contains("win")) | .id')
          artifact_id_mac=$(echo "$response" | jq -r '.artifacts[] | select(.name | contains("mac")) | .id')

          # Save the artifact ID in an environment variable
          echo "ARTIFACT_ID_WIN=$artifact_id_win" >> $GITHUB_ENV
          echo "ARTIFACT_ID_MAC=$artifact_id_mac" >> $GITHUB_ENV
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit Artifact url and version changes and push to pre release branch for jenkins (Windows & Mac)
        shell: bash
        run: |
          ARTIFACT_URL_WIN="https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor/actions/artifacts/$ARTIFACT_ID_WIN/zip"
          ARTIFACT_URL_MAC="https://api.github.com/repos/eclipse-esmf/esmf-aspect-model-editor/actions/artifacts/$ARTIFACT_ID_MAC/zip"
          BRANCH_NAME="pre_release_configuration"

          echo "artifact_url_win=$ARTIFACT_URL_WIN" > parameters.txt
          echo "artifact_url_mac=$ARTIFACT_URL_MAC" >> parameters.txt
          echo "version=${RELEASE_VERSION}" >> parameters.txt

          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git checkout -b $BRANCH_NAME
          git add parameters.txt
          git commit -m "Add parameters.txt with artifact_url_win, artifact_url_mac and version"
          git push origin $BRANCH_NAME
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Trigger Jenkins Job, for signing executable
        shell: bash
        run: |
          DATA='{"repository": {"url": "https://github.com/eclipse-esmf/esmf-aspect-model-editor", "html_url": "https://github.com/eclipse-esmf/esmf-aspect-model-editor", "owner": { "name": "ESMF"}}, "pusher": { "name": "GitHub Action", "email": "esmf-dev@eclipse.org"}}'
          SHA1="$(echo -n "${DATA}" | openssl dgst -sha1 -hmac "${WEBHOOK_SECRET}" | sed 's/SHA1(stdin)= //')"
          curl -X POST https://ci.eclipse.org/esmf/github-webhook/ -H "Content-Type: application/json" -H "X-GitHub-Event: push" -H "X-Hub-Signature: sha1=${SHA1}" -d "${DATA}"
